<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning -Iniciar sesión</title>
  <link rel="stylesheet" href="../css/in-o-re.css">
</head>
<body>
  <main class="main">
    <a href="../index.html" class="back">
      <img src="../images/logotipo.png" alt="" class="item">
    </a>
    <h1 class="main__text">Iniciar sesión</h1>
    <div class="inputs">
      <input type="text" name="" class="input" placeholder="Ingresa tu nombre de usuario">
      <input type="password" name="" class="input" placeholder="Ingresa tu contraseña">
    </div>
    <button class="main__button">
      iniciar sesión
    </button>
    <a href="./resgitrarse.html" class="main__link">Registrate</a>
  </main>
</body>
</html>