<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning -Registrarse</title>
  <link rel="stylesheet" href="../css/registrarse.css">
</head>
<body>
  <main class="main">
    <a href="#" class="back">
      <img src="../images/logotipo.png" alt="" class="item">
    </a>
    <h1 class="main__text">Registrarse</h1>
    <div class="inputs">
      <input type="email" name="" class="input" placeholder="Ingresa tu correo electronico">
      <input type="text" name="" class="input" placeholder="Ingresa tu nombre de usuario">
      <input type="password" name="" class="input" placeholder="Ingresa tu contraseña">
    </div>
    <button class="main__button">
      REGISTRARSE
    </button>
    <a href="./iniciar-sesion.html" class="main__link">¿Ya tienes cuenta?</a>
  </main>
</body>
</html>